# Ignore Python virtual environments
myenv/
venv/
env/

# Ignore Python cache and logs
__pycache__/
*.pyc
*.pyo
*.log

# Ignore Streamlit-specific folders (optional)
.streamlit/

# Environment files
.env
.env.*
local.settings.json